.header {
    height: 100px;
    margin-left: 15px;
    margin-right: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    height: 80px;
    margin-right: 50px;
}

.header-nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 28px;
}

.header-nav-bar-element {
    text-decoration: none;
    color: black;
}

.header-nav-bar-element:hover {
    color: #457B9D;
}