.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    padding: 80px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: white;
}

.main-about-text-container {
    max-width: 50%;
}

.main-about-text-greet {
    color: #457B9D;
}

.mainAboutTextDescr {
    text-align: justify;
    margin-bottom: 20px;
}

@media all and (min-width: 1175px) {
    .about {
        justify-content: space-around;
    }
}


@media all and (max-width: 900px) {
    .about {
        flex-direction: column-reverse;
    }

    .main-about-text-container {
        max-width: 100%;
    }

    .main-about-img {
        max-width: 70%;
    }
}