.about {
    height: 616px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    padding: 80px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: white;
}

.main-about-text-container {
    max-width: 50%;
}

.main-about-text-greet {
    font-weight: 600;
    color: #457B9D;
}