.main-projects-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-projects-text-greet {
    color: #457B9D;
}

.projects {
    /* margin-left: 145px;
    margin-right: 145px; */
    padding-top: 75px;
    padding-bottom: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

/* .project-item {
    border: 2px solid #457B9D;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.project-item {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    transition: transform 0.5s ease, opacity 0.5s ease;
    margin-bottom: 40px;
    border: 2px solid #457B9D;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
}

.project-item:hover {
    cursor: pointer;
    border-color: white;
    background-color: #457B9D;
}

.project-item:hover .screen-title {
    color: white;
}

.screen {
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
}

.screen-title {
    color: #457B9D;
}

.main-projects-table {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    height: 100%;
    position: relative;
    width: 100%;
}

.main-projects-table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    position: relative;
    width: 500px;
}

.controllers {
    margin-top: 30px;
    display: flex;
    width: 180px;
    justify-content: space-between;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #457B9D;
    margin-bottom: 5px;
}

.arrow-prev {
    transform: rotate(270deg)
}

.arrow-next {
    transform: rotate(90deg)
}

.controller-btn {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #457B9D;
    border-radius: 5px;
}

.controller-btn:hover {
    border: none;
    border-color: white;
    background-color: #457B9D;
    cursor: pointer;
}

.controller-btn:hover .arrow {
    border-bottom: 20px solid white;
}

.left-slide {
    transform: translateX(-100%);
    opacity: 0;
}

.central-slide {
    transform: translateX(0);
    opacity: 1;
}

.right-slide {
    transform: translateX(100%);
    opacity: 0;
}